{{!< layout}}

<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-item">
      <div class="aui-group">
        <div class="aui-item">
          <div class="clearfix" id="page">
            <!-- column -->
            <div class="position_content" id="page_position_content">
                <!-- header -->
                
                <div class="browser_width banner-bw">
                  <div class="banner">
                      <!-- column -->
                  </div>
                </div>
                
                <div class="demo-box">
                  <p class='demo-description'>Explore Facets Overview on the UCI Census Income dataset, used for predicting whether an individual’s income exceeds $50K/yr based on their census data. The census data contains features such as age, education level and occupation for each individual.<span class="superscript">1</span></p>
                </div>
                <div class="separator" id="facets-overview">
                  <!-- separating line -->
                </div>
                <div class="title facets-ov">
                  <h1>Facets Overview</h1>
                </div>
                <div class="subhead facets-ov">
                  <h2><span class='focus-word'>Overview</span> takes input feature data from any number of datasets, analyzes them feature by feature and visualizes the analysis.</h2>
                </div>
                <div class="desc-copy facets-ov">
                  <p>Overview gives users a quick understanding of the distribution of values across the features of their dataset(s). Uncover several uncommon and common issues such as unexpected feature values, missing feature values for a large number of observation, training/serving skew and train/test/validation set skew.</p>
                </div>
                <div class="facets-ov-demo">
                </div>                                 
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
