{{!< layout}}

<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-item">
      <div class="aui-group">
        <div class="aui-item">
          <div class="clearfix" id="page">
            <!-- column -->
            <div class="position_content" id="page_position_content">
                <!-- header -->
                
                <div class="browser_width banner-bw">
                  <div class="banner">
                      <!-- column -->
                  </div>
                </div>
                
                
                <div class="facets-ov-demo" style="display: none;">
                </div>    

                <div class="demo-box">
                  <p class='demo-description'>Explore Facets Dive on the UCI Census Income dataset, used for predicting whether an individual’s income exceeds $50K/yr based on their census data. The census data contains features such as age, education level and occupation for each individual.<span class="superscript">1</span></p>
                </div>
                
                <div class="separator" id="facets-dive">
                  <!-- separating line -->
                </div>
                <div class="title facets-dive">
                  <h1>Facets Dive</h1>
                </div>
                <div class="subhead facets-dive">
                  <h2><span class='focus-word'>Dive</span> is a tool for interactively exploring large numbers of data points at once.</h2>
                </div>
                <div class="desc-copy facets-dive">
                  <p>Dive provides an interactive interface for exploring the relationship between data points across all of the different features of a dataset. Each individual item in the visualization represents a data point. Position items by &quot;faceting&quot; or bucketing them in multiple dimensions by their feature values. Success stories of Dive include the detection of classifier failure, identification of systematic errors, evaluating ground truth and potential new signals for ranking.</p>
                </div>
                <div class="facets-dive-demo">
                </div>                
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
